{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
{{ attach_library('alex_theme/views-css') }}
<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        <span{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        </span>
        {{ metadata }}
      </div>
    {% endif %}
  </header>

<div class="wrapper">
    <div class="page-body">
        <h1>{{ label }}</h1>
        <h2>{{ content.field_untertitel }}</h2>
        <div class="artikel-infos">
        <p><small>Bereich: {{ content.field_bereich }}</small><small> - Datum: {{ content. field_erscheinungsdatum }}</small><br />
        <small>Redaktion {{ content.field_redaktion }} - Lektor: {{ content.field_lektorat }}</small></p>
        </div>
       
        <div class="body">{{ content.body }}</div>
        
        <div class="news-footer">
        <div class="aussender"><small>{{ content.field_aussender }}</small></div>      
         </div>
       
    </div>
</div>

</article>
<div class="clear"></div>