{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('alex_theme/teaser-css') }}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
    <a class="link-absolute" href="{{ content.field_link }}"></a>
    {% block content %}
    {{ content.field_gelbe_subline }}
    {{ content.field_headline_h2 }}
     <div class="teaser_bild">
     {{ content.field_image }}
    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
